
// Colors
@import '../utils/colors';
@import '../utils/mixins';

.page{
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

// h2{
//   @include fluid-text(64, 48);
// }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

a, button {
  cursor: pointer;
}

main{
  background-color: $main---bgpage;
  flex: 1 0 auto;
}


.main-banner{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  background-image: url('../images/main-banner-delivery-atoms.png');
  background-size: cover;
}
