@import '../../utils/colors';

.header__container{
  display: flex;
  align-items: center;
  max-width: 1208px;
  justify-content: space-between;
  margin: 0 auto;
  height: 72px;
  gap: 30px;
  // position: relative;
}

.header__logo-container{
  display: flex;
  align-items: center;
  width: 152px;
  justify-content: space-between;
}

.header__logo {
  animation: wink 2s infinite;
}

@keyframes wink {
  0%, 50% {
    fill: #FF6633; /* Цвет глаза до подмигивания */
  }
  25%, 75% {
    fill: #414141; /* Цвет глаза после подмигивания */
  }
}

.catalog{
  background-color: $main-secondary;
  width: 140px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.catalog__button{
  border-radius: 4px;
  background-image: url('../../images/menu-img.svg');
  background-repeat: no-repeat;
  background-position: left 8px top 7px;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.catalog:hover {
  box-shadow: 4px 8px 16px 0 rgba(112, 192, 91, 0.2);
}

.catalog__span{
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  color: $main-onprimary;
  line-height: 150%;
  padding-left: 25px;
}

.search{
  display: flex;
  align-items: center;
  width: 374px;
  height: 40px;
  border: 1px solid $main-secondary;
  border-radius: 4px;
  justify-content: space-between;
}

.search__input{
  border: none;
  width: 316px;
  margin-left: 8px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.search__img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.MuiBadge-colorSuccess {
  background-color: #f63 !important;
}

.menu__list{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.menu__item{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.menu__image{
  width: 24px;
  height: 24px;
}

.menu__text{
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.menu__text_type_active{
  color: #f63;
}

.user{
  display: flex;
  align-items: center;
  width: 217px;
}

.user__image {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 100px;
  margin-left: 16px;
  margin-right: 10px;
  filter: none;
  transition: filter 0.3s ease; /* Плавное изменение прозрачности */
  cursor: pointer;
}

.user__image:hover {
  filter: brightness(70%);
}

.user__name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.user__button{
  border: none;
  background-color: inherit;
  width: 24px;
  height: 24px;
  margin-left: 26px;
}