$main-onprimary: #fff;
$main---primary: #f63;
$main-primarymuted: #fcd5ba;
$main-onsecondary: #fff;
$main-secondary: #70c05b;
$main-secondarymuted: #e5ffde;
$main-onsurface: #414141;
$main-surface: #fff;$main-onbackground: #291e0f;
$main---background: #f4f4f2;
$main---bgpage: #fbf8ec;
$grayscale---lightest: #f3f2f1;
$grayscale---light: #bfbfbf;
$grayscale---hard: #8f8f8f;
$grayscale---hardest: #606060;
$pallete-onerror: #f2f2f2;
$pallete-error: #d80000;
$pallete-errormuted: #ffc7c7;
$pallete-onsuccess: #f2f2f2;
$pallete-success: #008c49;
$pallete-info: #1cb9fc;
$pallete-warning: #fca21c;